@import url('https://fonts.googleapis.com/css2?family=Lustria&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Lustria", serif;
  font-weight: 800;
  font-style: normal;
  overflow-x:hidden;
}